# dependencies
node_modules

# environment variables
.env

# firebase cache folder when deploying from local
.firebase
# firebase project config file
# it should be set via firebase-tools
.firebaserc
# exported config
.runtimeconfig.json

# logs
npm-debug.log*
firebase-debug.log
